@charset "UTF-8";
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  --color-SherpaBlue: #00474b;
  --color-Java: #26c2ae;
  --color-CuttyStark: #5e7a7d;
  --color-TowerGray: #9ebbbd;
  --color-BlackSqueeze: #f3f9fa;
  --color-GrannySmith: #7f9d9f;
  --color-William: #3d6666;
  --color-CuttyStark-2: #547878;
  --color-JaggedIce: #c5e4e7;
  --color-Atoll: #0d686d;
  --color-pure-white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100dvh;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
  cursor: auto; /* or pointer if you want to keep the default hand cursor */
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

.btn {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
/** 

	100 : Thin
	•	200 : Extra Light (Ultra Light)
	•	300 : Light
	•	400 : Normal
	•	500 : Medium
	•	600 : Semi Bold (Demi Bold)
	•	700 : Bold
	•	800 : Extra Bold (Ultra Bold)
	•	900 : Black (Heavy)

  */
body,
input {
  font-family: "Space Mono", monospace;
  background-color: var(--color-JaggedIce);
  color: var(--color-William);
  font-weight: 400;
  line-height: 1.4;
}

.ft-body-title {
  color: var(--color-CuttyStark);
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
  font-weight: 700;
}

.centered-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered-div2 {
  margin: 0 auto;
  max-width: 50%;
  text-align: center;
}

.centered-div3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.icon {
  font-size: 2.4rem;
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-TowerGray);
}

.input {
  width: 100%;
  padding: 0.6rem 1.7rem;
  text-align: right;
  font-weight: 700;
  font-size: 2.4rem;
  color: var(--color-SherpaBlue);
  background-color: var(--color-BlackSqueeze);
  border: none;
  border-radius: 5px;
}

.mb-bottom {
  margin-top: 2rem;
}

.selected {
  background-color: var(--color-Java) !important;
  color: var(--color-SherpaBlue) !important;
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3.2rem;
  padding: 3.2rem;
  background-color: var(--color-pure-white);
  border-radius: 25px 25px 0 0;
  width: 100%;
  max-width: 37.5rem;
}
@media only screen and (min-width: 56.25em) {
  .calculator {
    max-width: 92rem;
    flex-direction: row;
    border-radius: 25px;
    padding: 4.8rem;
  }
}
@media only screen and (min-width: 56.25em) {
  .calculator__input {
    max-width: 37.9rem;
  }
}
.calculator__input__number {
  margin-bottom: 3.2rem;
}
.calculator__input__number__bill__container {
  position: relative;
}
.calculator__input__selection {
  margin-bottom: 3.2rem;
}
.calculator__input__selection__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.7rem;
  width: 100%;
  max-width: 31.1rem;
  margin: 0 auto;
}
@media only screen and (min-width: 56.25em) {
  .calculator__input__selection__container {
    grid-template-columns: repeat(3, 1fr);
    max-width: 37.9rem;
  }
}
.calculator__input__selection__pourcentage {
  max-width: 14.6rem;
  width: 100%;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  background-color: var(--color-SherpaBlue);
  color: var(--color-pure-white);
  border-radius: 5px;
  padding: 0.6rem 0;
}
.calculator__input__selection__pourcentage-custom {
  border: none;
  background-color: var(--color-BlackSqueeze);
  color: var(--color-CuttyStark-2);
}
.calculator__input__people__container {
  position: relative;
}
.calculator__result {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 43.1rem;
  width: 100%;
  background-color: var(--color-SherpaBlue);
  color: var(--color-pure-white);
  padding: 2.4rem;
  border-radius: 15px;
}
.calculator__result__amount {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}
.calculator__result__amount + .calculator__result__amount {
  margin-top: 2rem;
}
.calculator__result__amount__title > h3 {
  font-size: 1.6rem;
}
.calculator__result__amount__title > p {
  font-size: 1.3rem;
  color: var(--color-GrannySmith);
}
.calculator__result__amount__number {
  font-size: 3.2rem;
  color: var(--color-Java);
}
.calculator__result__button {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 3.2rem;
  width: 100%;
  background-color: var(--color-Atoll);
  color: var(--color-SherpaBlue);
  padding: 0.9rem 0;
  border-radius: 5px;
}
.calculator__result__button:active, .calculator__result__button:hover {
  background-color: var(--color-Java);
  color: var(--color-SherpaBlue);
}

.header {
  text-transform: uppercase;
  margin: 5rem 0 4rem;
}
.header p {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.8rem;
}

.attribution {
  margin: 1.6rem 0 6rem;
  font-size: 1.1rem;
  text-align: center;
  color: var(--color-wenge-brown);
}
.attribution a {
  font-weight: 800;
  color: var(--color-SherpaBlue) !important;
}

/*# sourceMappingURL=style.css.map */
