.calculator {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3.2rem;
  padding: 3.2rem 2.4rem;
  background-color: var(--color-pure-white);
  border-radius: 25px 25px 0 0;
  width: 100%;
  max-width: 37.5rem;

  @include respond(tab-port) {
    max-width: 92rem;
    flex-direction: row;
    border-radius: 25px;
    padding: 0 3.2rem;
  }

  &__input {
    @include respond(tab-port) {
      max-width: 37.9rem;
      margin: 3.2rem auto;
    }
    &__number {
      margin-bottom: 3.2rem;
      &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &__people-error {
        color: #e17052;
      }
      @include respond(tab-port) {
        margin-bottom: 4rem;
      }
      &__bill {
        &__container {
          position: relative;
        }
      }
    }

    &__selection {
      margin-bottom: 3.2rem;
      @include respond(tab-port) {
        margin-bottom: 4rem;
      }
      &__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.7rem;
        width: 100%;
        max-width: 31.1rem;
        margin: 0 auto;
        @include respond(tab-port) {
          grid-template-columns: repeat(3, 1fr);
          max-width: 37.9rem;
        }
      }

      &__pourcentage {
        max-width: 14.6rem;
        width: 100%;
        text-align: center;
        font-size: 2.4rem;
        font-weight: 700;
        background-color: var(--color-SherpaBlue);
        color: var(--color-pure-white);
        border-radius: 5px;
        padding: 0.6rem 0;
        &-custom {
          border: none;
          background-color: var(--color-BlackSqueeze);
          color: var(--color-CuttyStark-2);
          &::placeholder {
            color: var(--color-SherpaBlue-light);
          }
        }
      }
    }
    &__people {
      &__container {
        position: relative;
      }
    }
  }
  &__result {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 43.1rem;
    width: 100%;
    background-color: var(--color-SherpaBlue);
    color: var(--color-pure-white);
    padding: 2.4rem;
    border-radius: 15px;
    @include respond(tab-port) {
      margin: 3.2rem auto;
      padding: 3.2rem;
    }

    &__amount {
      display: flex;
      justify-content: space-between;
      font-weight: 700;

      & + .calculator__result__amount {
        margin-top: 2rem;
        @include respond(tab-port) {
          margin-top: 4.1rem;
        }
      }
      &__title {
        & > h2 {
          font-size: 1.6rem;
        }
        & > p {
          font-size: 1.3rem;
          color: var(--color-GrannySmith);
        }
      }
      &__number {
        font-size: 3.2rem;
        color: var(--color-Java);
        @include respond(tab-port) {
          font-size: 4.8rem;
        }
      }
    }
    &__button {
      font-size: 2rem;
      font-weight: 700;
      text-transform: uppercase;
      margin-top: 3.2rem;
      width: 100%;
      background-color: var(--color-Atoll);
      color: var(--color-SherpaBlue);
      padding: 0.9rem 0;
      border-radius: 5px;
      background-color: var(--color-Java);
      transition: all 0.3s ease;
      &:active,
      &:hover {
        color: var(--color-SherpaBlue);
        background-color: #9fe8df;
      }
    }
  }
}
